.results {
    display: flex;
    background-color: white;
    width: 100%;
    height: 80%;
}

.resultfilters {
    position: absolute;
    width: 20%;
    left: 0;
    height: 100%;
}

.filtersscroll {
    height: 70%;
    overflow-y: scroll;
}

.resultsgrid {
    position: relative;
    left: 20%;
    box-sizing: border-box;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    padding: $medium;
    gap: $large $xlarge;
    overflow-y: scroll;
}

.resultsheading {
    font-size: 1.5rem;
    margin: $medium $small;
    height: 1.5rem;
}

.filterheading {
    font-size: 1.5rem;
    margin: $medium $small;
    text-transform: capitalize;
}

.filtercontent {
    margin: $medium $small;
}

.reset {
    position: absolute;
    right: 0;
    padding: $xsmall $small;
    border-radius: $xsmall;
    cursor: pointer;
}

.reset:hover {
    background-color: red;
    color: white;
}

#department,
#price,
#ratings {
    position: relative;
}