//variables
$colorbackground: #ec8282;
$colorbackground2: rgb(248, 241, 241);

//paddings
$xsmall: 0.25rem;
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;
$xlarge: 3rem;

// Fonts
// font-family: 'Comfortaa', cursive;
// font-family: 'Edu NSW ACT Foundation', cursive;
// font-family: 'Rubik', sans-serif;
// font-family: 'Work Sans', sans-serif;

@import "./css/search.scss";
@import "./css/trendbox.scss";
@import "./css/results.scss";
@import "./css/resultcard.scss";




html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  height: 100vh;
  background: $colorbackground;
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
}

.App {
  height: 100%;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.Appbackground {
  background: url("./assests/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  height: 100vh;
  box-sizing: border-box;
  padding: $large;
}